.footer{
    border-top: solid 1px rgb(207, 195, 195);
    padding: 1rem;
    font-size: .875rem;

    &__1{
        >a{
            margin-left: 1rem;
            &:hover{                
                text-decoration: underline;
            }
        }
    }

    &__2{
        >a{
            
            margin-right: 1rem;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}