html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: rgb(60, 60, 60);
}

//FlexBox
.flex {
    display: flex;

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-fs{
        align-items: flex-start;
    }

    &-jc-end{
        justify-content: flex-end;
    }
}
